/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}
header {
  z-index: 10001 !important;
}
.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
}
.subtitle {
  @apply text-red uppercase tracking-wide font-semibold text-lg;
}
.title {
  @apply text-4xl md:text-5xl font-bold my-2 leading-snug;
}
.heartStar {
  z-index: 10001;
  border-radius: 0px 20px 0px 20px;
}
